/*CSS RESET*/
* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
.closeIcon {
  max-width: 100%;
}
/* STYLE */
body {
  background-color: #eee;
  background-image: url(img/bcg.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.searchForm {
  margin: 20px;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  user-select: none;
}
.searchForm input {
  width: 100%;
  height: 40px;
  padding: 0px 10px;
  border: none;
  border-radius: 4px;
  background-color: rgba(50, 50, 51, 0.6);
  color: #bdc1c6;
  font-size: 16px;
}
.searchForm button {
  white-space: nowrap;
  margin-left: 10px;
  padding: 0 28px;
  border: none;
  border-radius: 4px;
  background-color: #202124;
  color: #bdc1c6;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
}
.globalMain .siteList {
  display: flex;
  margin: 20px;
  margin-top: 30px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.globalMain .siteList li .site {
  cursor: pointer;
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(62, 61, 64, 0.5);
  margin-bottom: 10px;
  padding: 20px 0;
  border-radius: 4px;
  position: relative;
  user-select: none;
  color: #bdc1c6;
}
.globalMain .siteList li .site .icon {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 64px;
  text-transform: uppercase;
}
.globalMain .siteList li .site .link {
  font-size: 14px;
  margin-top: 10px;
}
.globalMain .siteList li .site .close {
  width: 14px;
  height: 14px;
  position: absolute;
  right: 6px;
  top: 6px;
}
.globalMain .siteList li .importButton {
  display: flex;
  width: 160px;
  color: #bdc1c6;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border-radius: 4px;
  padding: 20px 0;
  background-color: rgba(62, 61, 64, 0.5);
  user-select: none;
  cursor: pointer;
}
.globalMain .siteList li .importButton .addIcon {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 64px;
}
.globalMain .siteList li .importButton .addText {
  font-size: 14px;
  margin-top: 10px;
}
.globalMain .siteList li .site:hover {
  transform: scale(1.1);
  transition: all, 0.3s;
}
.globalMain .siteList li .importButton:hover {
  transform: scale(1.1);
  transition: all, 0.3s;
}
@media (min-width: 500px) {
  .globalHeader {
    margin: 120px 0 100px;
  }
  .searchForm {
    max-width: 670px;
    margin-left: auto;
    margin-right: auto;
  }
  .globalMain {
    max-width: 670px;
    margin-left: auto;
    margin-right: auto;
  }
  .globalMain .siteList {
    margin: 0px -10px 0px 0px;
    justify-content: flex-start;
  }
  .globalMain .siteList .site {
    margin-right: 10px;
  }
  .globalMain .siteList .site .close {
    display: none;
  }
  .globalMain .siteList .site:hover .close {
    display: block;
  }
}
